/* ---------------------Question pages ------------- */
body {
    background-color:wheat;
}


#score {
    color:mediumslateblue;
    display: flex;
    justify-content: flex-end;
}

.next {
    float: right;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.choices {
    display: flex;
    align-items: center;
    justify-content:flex-start; 
    flex-direction: row;
    width: 50vw;
}


.flex {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.btn  {
    border-radius: 50%;
    font-size: 16px;
    padding: 5px;
    display:flex;
    text-align: center;
}

/* .correct {
    border-radius: 50%;
    font-size: 16px;
    padding: 5px;
    display:flex;
    text-align: center;
} */

.invis{
    display: none;
}
/* ------------------Welcome Page ----------------- */

#welcome{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
}

#category{
    display: flex;
    justify-content:center;
    text-align: center;
    line-height: 1.6;
    margin-top:  96px;
    margin-left: 220px;
    margin-right: 220px;
    border: 1px solid blue;
    background-color:rgb(21, 177, 177);
    padding: 5px;
}

#sport-category{
    display: flex;
    justify-content: space-evenly;
    margin-top: 95px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 17px;
    border: 5px solid green;
    background-color: indianred;
}

/* ----------------- Categories (page 2) --------------- */
