/* ------------------Welcome Page ----------------- */
.welcome-color {
    height: 100vh;
    background:linear-gradient(blue, pink)
}
#welcome {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
    font-size: 55px;
}
 
#new {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 9rem;
    margin-right: auto;
}

#choose-category {
    display: flex;
    justify-content:center;
    text-align: center;
    padding: 10px;
    margin-bottom: 155px;
    /* border-radius: 9px; */
    /* border: 3px solid blue; */
    /* background-color:rgb(21, 177, 177); */
    /* width: 150px; */
    font-size: 37px;
}

#sport-category {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 9px 18px;
    border: 3px solid green;
    background-color: indianred;
    width: 150px;
    cursor: pointer;
}

/* ----------------- Categories (page 2) --------------- */

#category-color {
    background: linear-gradient(45deg,rgb(252, 137, 156) 60%, blue 60%);
}

#category-header{ 
    color: rgb(150, 227, 247); 
    display: flex;
    justify-content: space-evenly;
    margin-top: 12vw;
    border-bottom: 10px solid darkblue;
    border-radius: 15px;
    padding-bottom: 15px;
    font-size: 30px;
}

#basketball-category {
    color: blue;
    display: flex;
    justify-content: space-around;
    margin-top: 5vw;
    border: 4px solid darkblue;
    border-radius: 9px 18px;
    padding: 10px;
    font-size: 30px;
    background-color: darkgray;
    cursor: pointer;
}

#football-category {
    color: blue;
    display: flex;
    justify-content: space-around;
    margin-top: 5vw;
    border: 4px solid darkblue;
    border-radius: 18px 9px;
    padding: 10px;
    font-size: 30px;
    background-color: darkgray;
    cursor: pointer;
}
#category-options{
    display: flex;
    margin-top: 9rem;
    margin-left: 5rem;
    margin-right: 5rem;
    justify-content: space-around;
}

/* ---------------------Question pages ------------- */
.basketball-color {
    height: 100vh;
    background:linear-gradient(45deg,purple, rgb(0, 255, 136) 17%, blue , transparent);
}
.football-color{
    height: 100vh;
    background: linear-gradient(-160deg,rgb(0, 102, 128), white )
}

#score {
    color:black;
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
}

.next {
    float: right;
    cursor: pointer;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.choices {
    display: flex;
    align-items:center;
    justify-content:center; 
    flex-direction: row;
    width: 40vw;
}


.flex {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
}

.btn  {
    border-radius: 50%;
    font-size: 16px;
    padding: 5px;
    display:flex;
    text-align: center;
}

.foot {
    padding-inline-start: 15%;
    padding-inline-end: 15%;
}

.invis {
    display: none;
}
button {
    cursor: pointer;
}