/* ------------------Welcome Page ----------------- */
.welcome-color {
    height: 100vh;
    background:linear-gradient(blue, pink)
}
#welcome {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
    font-size: 55px;
}
 
#new {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 9rem;
    margin-right: auto;
}

#choose-category {
    display: flex;
    justify-content:center;
    text-align: center;
    padding: 10px;
    margin-bottom: 155px;
    font-size: 37px;
}

#sport-category {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 9px 18px;
    border: 3px solid green;
    background-color: indianred;
    width: 150px;
    cursor: pointer;
}
#sport-category:hover {
    background-color: rgb(95, 129, 160);
}
@media only screen and (max-width: 592px){
    #welcome {
        text-align: center;
    }
}

/* ----------------- Categories (page 2) --------------- */

#category-color {
    background: linear-gradient(45deg,rgb(252, 137, 156) 60%, blue 60%);
}

#category-header{ 
    color: rgb(150, 227, 247); 
    display: flex;
    justify-content: space-evenly;
    margin-top: 12vw;
    border-bottom: 10px solid darkblue;
    border-radius: 15px;
    padding-bottom: 15px;
    font-size: 30px;
}

#basketball-category {
    color: blue;
    display: flex;
    justify-content: space-around;
    margin-top: 5vw;
    border: 4px solid darkblue;
    border-radius: 9px 18px;
    padding: 10px;
    font-size: 30px;
    background-color: darkgray;
    cursor: pointer;
}
#basketball-category:hover {
    background-color: rgba(11, 205, 253, 0.486);
}

#football-category {
    color: blue;
    display: flex;
    justify-content: space-around;
    margin-top: 5vw;
    border: 4px solid darkblue;
    border-radius: 18px 9px;
    padding: 10px;
    font-size: 30px;
    background-color: darkgray;
    cursor: pointer;
}

#football-category:hover {
    background-color: rgba(11, 205, 253, 0.486);
}
#category-options{
    display: flex;
    margin-top: 9rem;
    margin-left: 5rem;
    margin-right: 5rem;
    justify-content: space-around;
}

@media only screen and (max-width: 792px){
    #category-options {
        flex-direction: column;
        margin-top: 11rem;
    }
    #category-header {
        font-size: 40px;
    }
}
/* ---------------------Question pages ------------- */
.basketball-color {
    height: 100vh;
    background:linear-gradient(45deg,purple, rgb(0, 255, 136) 17%, blue , transparent);
}
.football-color{
    height: 100vh;
    background: linear-gradient(-160deg,rgb(0, 102, 128), white )
}

#score {
    color:black;
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    padding-inline-end: 10%;
}

.next {
    float: right;
    cursor: pointer;
    padding-top: 30px;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 175px;
    font-size: 25px;
    font-family: Courier;
}

.choices {
    display: flex;
    align-items:center;
    justify-content:center; 
    flex-direction: row;
    width: 40vw;
}

.flex {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.589);
    font-family:Courier, monospace;
}

.btn  {
    border-radius: 50%;
    font-size: 16px;
    padding: 5px;
    display:flex;
    text-align: center;
    margin-right: 6px;
}

.foot {
    padding-inline-start: 15%;
    padding-inline-end: 15%;
    padding-top: 100px;
}

.invis {
    display: none;
}
button {
    cursor: pointer;
}

.skip-button, .next-button {
    font-size: 22px;
    padding: 3px 5px;
    outline: none;
    background-color: rgb(134, 176, 240);
    border-radius: 15px;
    box-shadow: 0 5px #999;
}
.skip-button:hover {background-color: rgb(55, 151, 230);}
.next-button:hover {background-color: rgb(55, 151, 230);}

.skip-button:active{
    background-color: rgb(55, 151, 230);
    box-shadow: 0 2px #666;
    transform: translateY(3px);
 }
.next-button:active{
    background-color: rgb(55, 151, 230);
    box-shadow: 0 2px #666;
    transform: translateY(3px);
}

@media only screen and (max-width: 792px){
    .foot {
      padding-top: 200px;
      padding-inline-end: 5%;
    }
}
/* -------------- Final Score Page ------------------*/